@use "./abstracts/mixins" as *;
@use "./abstracts/media-query" as *;

.landing-section {
	display: flex;
	flex-direction: column;
	// gap: 1rem;
	background-color: #ffffff;
	color: black;
	width: 100vw;
	// max-height: 100vh;
	// overflow: hidden;
	position: relative;
	// padding: 1rem;
	.p-width {
		padding-inline: 2rem;
	}
	.landing-header {
		position: fixed;
		z-index: 80;
		top: 4r0em;
		left: 0;
		background-color: white;
		width: 100%;
		// color: #29abe2;
		font-size: 2rem;
		padding-block: 0.6rem;
		// height: 100%;
		gap: 4rem;
		display: grid;
		grid-template-columns: 4fr 1fr 4fr;
		justify-content: space-between;
		align-items: center;

		// background-color: red;
		.mobile-nav,
		.mobile-cart {
			display: none;
		}
		.adm {
			transition: all 300ms ease-out;
		}
		.header-logo {
			transform: translateY(8px);

			// background-color: red;
			display: flex;
			grid-template-columns: 1fr;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			color: #000;

			strong {
				font-family: "Passions Conflict", cursive !important;
				font-size: 5rem;
				color: #0d2a3c;
			}
			small {
				font-family: "Passions Conflict", cursive !important;
				text-align: justify;
			}
		}

		.side-col {
			height: 100%;
			font-size: 1rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color: black;
			gap: 2rem;
			padding: 0.8rem;
			// border: 1px solid red;

			&.right {
				justify-content: flex-end;
			}

			li {
				cursor: pointer;
				transition: 200ms ease;
				scale: 1;
				&:hover {
					color: #ff7a8c;
				}

				.icon {
					font-size: 1.6rem;
					cursor: pointer !important;
				}
			}
		}
		.letter-span {
			display: flex;

			// gap: 3%;
			// gap: 30%;
			span {
				// border: 1px solid red;
				padding: 0.2rem;
				// position: relative;
				display: flex;
			}
		}
	}

	.landing-banner {
		padding: 0 2rem;
		background-color: #ffffff;
		height: 34rem;
		display: flex;
		margin-top: 5rem;
		// grid-template-columns: 1fr 1fr;
		color: #000;
		overflow: hidden;

		.left-body {
			width: 50%;
			background-color: #e3edfc;
			// width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 3.5rem;
			justify-content: center;
			align-items: flex-start;
			padding: 1rem 5rem;
			z-index: 10;
			position: relative;

			.small-text {
				font-size: 1rem;
			}
			.btn-box {
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
					font-size: 1rem;
					border-radius: 0;
					padding: 1rem 2rem;
					background-color: #000;
					color: #fff;
					transition: 200ms ease;
					&:active {
						scale: 0.98;
					}
				}
			}

			.lead-text {
				font-size: 4.6rem;
				display: flex;
				flex-direction: column;
				gap: 2.6rem;
				font-family: "Viaoda Libre", cursive;
				span {
					color: black;
					font-family: "Viaoda Libre", cursive;
				}
			}
		}

		.right-body {
			background-color: #edf2fa;
			padding: 6rem 4rem 4rem;
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 1;
			overflow: hidden;

			.img-box {
				position: absolute;
				bottom: 0;
				left: 1rem;

				&::after {
					position: absolute;
					content: "";
					top: 2rem;
					left: 2%;
					width: 20rem;
					height: 20rem;
					background-color: #cfe1fc;
					border-radius: 50%;
					z-index: -1;
				}
				&::before {
					position: absolute;
					content: "";
					top: 6rem;
					left: 28%;
					width: 18rem;
					height: 18rem;
					// background-color: red;
					border: 2px solid #cfe1fc;
					border-radius: 50%;
					z-index: -1;
				}
				img {
					z-index: 10;
				}
			}
			.small-circle1 {
				position: absolute;
				top: 1rem;
				right: 2rem;
				width: 3rem;
				height: 3rem;
				background-color: #cfe1fc;
				border-radius: 50%;
				z-index: -1;
			}
			.small-circle2 {
				position: absolute;
				bottom: 1rem;
				left: 2rem;
				width: 1.5rem;
				height: 1.5rem;
				background-color: #cfe1fc;
				border-radius: 50%;
				z-index: -1;
			}
			.small-box {
				position: absolute;
				bottom: 8rem;
				left: 1rem;
				width: 8.5rem;
				height: 8.5rem;
				border: 1px solid #cfe1fc;
				z-index: -1;
			}
			.small-box2 {
				position: absolute;
				bottom: 7rem;
				left: 3rem;
				width: 2.5rem;
				height: 2.5rem;
				background: #cfe1fc;
				z-index: -1;
			}
		}

		.landing-textarea {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			text-align: center;
			h1 {
				font-size: 2.5rem;
				font-weight: bold;
				font-family: "Roboto", sans-serif;
				color: #0d2a3c;
			}
			button {
				background-color: #29abe2;
				border-radius: 4px;
				padding: 1rem 3rem;
				font-size: 1.6rem;
			}
		}
	}
	.landing-desc-info {
		padding-block: 4rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		align-items: center;

		.desc-h-text {
			h1 {
				font-family: "Viaoda Libre", cursive;
				font-size: 4.4rem;
			}
		}
		.desc-p {
			text-align: center;
			width: 35rem;
		}

		.desc-btn-box {
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.4rem;
				border-radius: 0;
				padding: 1rem 2rem;
			}
		}
	}
	.landing-features-sect {
		padding-block: 5rem;
		padding-inline: 3rem;
		background-color: #e3edfc;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		.items-div {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(4, 1fr);

			.items-box {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				justify-content: center;
				align-items: center;

				.image-box {
					background-color: #fff;
				}
				.items-desc {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}

	.popular-sect {
		padding-block: 5rem;
		display: flex;
		flex-direction: column;
		gap: 5rem;

		.popular-header {
			.bord-box {
				position: absolute;
				top: 0rem;
				left: 3rem;
				width: 1rem;
				height: 1rem;
				background-color: #ececec80;

				&::before {
					position: absolute;
					content: "";
					top: 1rem;
					left: 1rem;
					width: 2rem;
					height: 2rem;
					background-color: #ececec80;
				}
			}
			.bord-box-b {
				position: absolute;
				content: "";
				bottom: -2rem;
				right: 4rem;
				width: 2rem;
				height: 2rem;
				background-color: #ececec80;

				&::before {
					position: absolute;
					content: "";

					right: 2rem;
					bottom: 2rem;
					width: 1rem;
					height: 1rem;
					background-color: #ececec80;
				}
			}
		}

		.items-block {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
			grid-template-columns: repeat(4, 1fr);
			gap: 0.4rem;
			justify-content: center;
			align-items: center;

			.items-box {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 0.4rem;

				.items-image {
					height: 14rem;
					width: 100%;
					object-fit: cover;
					background-color: #f8f8f8;
					img {
						object-fit: contain;
						width: 100%;
						height: 100%;
					}
				}

				.items-info {
					display: flex;
					flex-direction: column;
					gap: 0.1rem;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	.testimonial-sect {
		padding: 6rem 5rem;
		background-color: #fae5e8;
		display: grid;
		gap: 1rem;
		width: 100%;
		grid-template-columns: 1fr 1fr;

		.img-box {
			min-width: 300px;
			max-width: 400px;
			width: 100%;
			height: 400px;
			// background-color: red;
			object-fit: cover;
			object-position: left 20% center;
			overflow: hidden;
			transition: all 300ms ease;
			&:hover {
				box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
					rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			}
			img {
				width: 100%;
				// height: 100%;
				// display: none;
				object-fit: cover;
			}
		}

		.test-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 3rem;

			h2 {
				font-size: 1.4rem;
				font-family: "Viaoda Libre", cursive;
			}

			.test-name {
				display: flex;
				gap: 1rem;
				h2 {
					font-size: 2rem;
				}
			}

			.test-p {
				font-weight: 600;
			}
		}
	}
	.landing-footer {
		background-color: #000;
		color: #ffffff;
		padding: 1.5rem 2rem;
		// height: 31vh;

		.footer-top {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-content: space-between;
			align-items: flex-start;
			padding: 5rem;
			gap: 4rem;

			.logo {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-family: "Passions Conflict", cursive !important;

				strong {
					font-family: "Passions Conflict", cursive !important;
					font-size: 3rem;
				}
				small {
					font-family: "Passions Conflict", cursive !important;
					font-size: 1.4rem;
				}
			}

			.footer-links {
				display: flex;
				flex-direction: column;
				li {
					padding: 0.2rem;
					cursor: pointer;
					&:hover {
						color: #29abe2;
					}
				}
			}
			.mid {
				grid-column: span 3;
				// width: 100%;
				display: flex;
				gap: 1rem;
				justify-content: space-around;
			}
			.sub-link {
				display: flex;
				flex-direction: column;
				gap: 0.8rem;
				.input {
					position: relative;
					input {
						width: 100%;
						background-color: rgb(12, 12, 12);
						outline: none;
						padding: 0.6rem 1.4rem;
						border-bottom: 1px solid #fff;
						transition: 400ms ease;

						&:is(:hover, :focus) {
							background-color: rgb(18, 18, 18);
						}
					}
					.icon {
						position: absolute;
						right: 0.4rem;
						top: 20%;
						font-size: 1.8rem;
						color: grey;
						transition: 300ms ease;
						padding: 0.2rem;

						&:hover {
							color: #fff;
							scale: 1.2;
							cursor: pointer;
						}

						&:active {
							scale: 1.1;
						}
					}
				}
			}
			.social-link {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				.social {
					display: flex;
					gap: 1rem;
					.icon {
						font-size: 1.4rem;
						cursor: pointer;
						&:hover {
							color: #29abe2;
						}
					}
				}
			}
		}

		.footer-bottom {
			padding: 1rem 5rem 5rem;
			display: flex;
			justify-content: space-between;
			gap: 0.2rem;
			align-items: center;

			.line {
				width: 50%;
			}
		}
	}
	.p-block {
		padding-block: 4rem;
	}
	.social-sect {
		padding-top: 5rem;
		padding-bottom: 2rem;
		position: relative;
		.bord-box {
			position: absolute;
			top: 0rem;
			left: 0rem;
			width: 1rem;
			height: 1rem;
			background-color: #ececec80;
			z-index: 1;

			&::before {
				position: absolute;
				content: "";
				top: 1rem;
				left: 1rem;
				width: 3rem;
				height: 3rem;
				background-color: #ececec80;
			}
		}
		.bord-box-b {
			position: absolute;
			content: "";
			bottom: 0rem;
			right: 2rem;
			width: 3rem;
			height: 3rem;
			background-color: #ececec80;

			&::before {
				position: absolute;
				content: "";

				right: 3rem;
				bottom: 3rem;
				width: 1rem;
				height: 1rem;
				background-color: #ececec80;
			}
		}
		.items-block {
			padding: 1rem;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			width: 100%;
			gap: 1rem;
			height: 20rem;
			position: relative;
			top: -3rem;

			.items-box {
				width: 9rem;
				height: 9rem;
				background-color: #f0f0f08c;

				&:nth-child(1) {
					position: absolute;
					top: 1rem;
					left: 1rem;
				}

				&:nth-child(2) {
					position: absolute;
					top: 8rem;
					left: 8rem;
					width: 8rem;
					height: 8rem;
				}
				&:nth-child(3) {
					position: absolute;
					left: 42%;
					bottom: 0;
				}
				&:nth-child(4) {
					position: absolute;
					top: 8rem;
					right: 8rem;
					width: 8rem;
					height: 8rem;
					z-index: 2;
				}
				&:nth-child(5) {
					position: absolute;
					top: 1rem;
					right: 1rem;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		.soc-texts {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			z-index: 2;

			p {
				font-size: 2rem;
			}
		}
	}

	button:hover,
	a:hover {
		outline: 1px solid black;
		color: #000 !important;
		background-color: #fff !important;
		@include shadow-md;
	}
}

.head-font {
	font-family: "Viaoda Libre", cursive;
	font-size: 4.4rem;
	text-align: center;
}

.bord-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	background-color: #ffffff;

	&::before {
		position: absolute;
		content: "";
		top: 2rem;
		left: 2rem;
		width: 2rem;
		height: 2rem;
		background-color: #ffffff;
	}
}
.bord-box-b {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	background-color: #ffffff;

	&::before {
		position: absolute;
		content: "";

		right: 2rem;
		bottom: 2rem;
		width: 2rem;
		height: 2rem;
		background-color: #ffffff;
	}
}

.mobile {
	display: none;
}
@include wide-screen {
	.testimonial-sect {
		padding: 6rem 18rem !important;
	}

	.landing-banner {
		padding: 0 8rem !important;

		.left-body {
			padding: 1rem 8rem !important;

			.small-text {
				font-size: 1.2rem !important;
			}
			.lead-text {
				font-size: 6.5rem !important;
				line-height: 1rem !important;
				gap: 5rem !important;
			}
		}
	}
	.social-sect {
		.items-block {
			.items-box {
				width: 11rem !important;
				height: 11rem !important;

				&:nth-child(1) {
					position: absolute;
					top: 1rem;
					left: 1rem;
				}

				&:nth-child(2) {
					position: absolute;
					top: 10rem !important;
					left: 10rem !important;
					width: 10rem !important;
					height: 10rem !important;
				}
				&:nth-child(3) {
					position: absolute;
					left: 45% !important;
					right: 40% !important;
					bottom: 0;
				}
				&:nth-child(4) {
					top: 10rem !important;
					right: 10rem !important;
					width: 10rem !important;
					height: 10rem !important;
					z-index: 2;
				}
				&:nth-child(5) {
					position: absolute;
					top: 1rem;
					right: 1rem;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
@include huge-screen {
	.p-width {
		padding-inline: 8rem !important;
	}
	.footer-top {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;

		.mid {
			grid-column: span 2 !important;
		}
	}
	.social-sect {
		.items-block {
			.items-box {
				width: 9rem !important;
				height: 9rem !important;

				&:nth-child(1) {
					position: absolute;
					top: 1rem;
					left: 1rem;
				}

				&:nth-child(2) {
					position: absolute;
					top: 8rem !important;
					left: 8rem !important;
					width: 8rem !important;
					height: 8rem !important;
				}
				&:nth-child(3) {
					position: absolute;
					left: 45% !important;
					right: 40% !important;
					bottom: 0;
				}
				&:nth-child(4) {
					top: 8rem !important;
					right: 8rem !important;
					width: 8rem !important;
					height: 8rem !important;
					z-index: 2;
				}
				&:nth-child(5) {
					position: absolute;
					top: 1rem;
					right: 1rem;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

@include large-screen {
	.landing-header {
		gap: 2rem !important;
	}
}

@include small-screen {
	.p-width {
		padding-inline: 0.4rem !important;
	}
	.landing-header {
		display: flex !important;
		padding-block: 0.2rem !important;
		padding-inline: 1rem !important;
		position: relative;

		.mobile-nav,
		.mobile-cart {
			display: flex !important;
			justify-content: center;
			align-items: center;

			width: 3rem;
			border-radius: 6px;
			padding: 0.1rem;
			font-size: 1.6rem;
			box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
				rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

			&:hover {
				color: #29abe2;
			}
			&:active {
				scale: 0.98;
			}
		}
		.header-logo {
			transform: translateY(4px) !important;

			gap: 0 !important;
			strong {
				font-size: 3rem !important;
			}
			small {
				font-size: 1rem;
			}
		}
		.side-col.right {
			display: none !important;
		}

		.side-col.left {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			height: 0;
			max-height: 0;
			left: 0;
			top: 54px;
			width: 100%;
			background-color: #fff;
			z-index: 20;
			font-size: 1.2rem;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
				rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
			opacity: 0;
			transition: opacity 300ms 200ms ease;
			transition: all 500ms ease;

			li {
				opacity: 0;
				transform: translateX(-10rem);
				transition: opacity 500ms 400ms ease;
				transition: all 500ms ease;

				&:nth-child(2) {
					transition-delay: 100ms;
				}
				&:nth-child(3) {
					transition-delay: 200ms;
				}
				&:nth-child(4) {
					transition-delay: 300ms;
				}
				&:nth-child(5) {
					transition-delay: 400ms;
				}
				&:nth-child(6) {
					transition-delay: 500ms;
				}
			}

			&.active {
				height: 100vh;
				max-height: 100vh;
				opacity: 1;
				transition: opacity 500ms 400ms ease;
				transition: all 300ms ease;
				li {
					opacity: 1;
					transform: translateX(0);
					transition: opacity 500ms 400ms ease;
					transition: all 500ms ease;
					&:nth-child(2) {
						transition-delay: 100ms;
					}
					&:nth-child(3) {
						transition-delay: 200ms;
					}
					&:nth-child(4) {
						transition-delay: 300ms;
					}
					&:nth-child(5) {
						transition-delay: 400ms;
					}
					&:nth-child(6) {
						transition-delay: 500ms;
					}
				}

				// .show {
				// 	// display: block !important;
				// }
			}

			.btn {
				outline: 1px solid black;
				padding: 1rem 2rem;
				color: #000;

				&:hover {
					background-color: #000 !important;
					color: #fff !important;
				}
			}
		}
	}

	.landing-banner {
		margin-top: 3.6rem !important;
		.left-body {
			padding: 2rem !important;
			position: relative;
			.btn-box {
				position: relative;
				left: 4rem;

				a {
					width: 10rem;
					height: 3.4rem;
					span {
						position: absolute;
						left: 1.6rem;
					}
					.icon {
						position: relative;
						left: 2.4rem;
					}
				}
				// bottom: ;
			}
		}

		.right-body {
			overflow: hidden;
			img {
				display: none !important;
			}
		}
	}

	.landing-desc-info {
		padding-block: 2rem !important;
		padding-inline: 1rem !important;

		.desc-p {
			width: 100% !important;
		}
	}

	.testimonial-sect {
		padding: 6rem 1rem !important;
		grid-template-columns: 1fr !important;
		gap: 2rem;
	}
	.landing-features-sect {
		// padding-block: 2rem !important;
		padding-inline: 2rem !important;
		gap: 1rem !important;
		.items-div {
			display: grid;
			gap: 01rem !important;
			grid-template-columns: repeat(2, 1fr) !important;

			.items-box {
				display: flex;
				flex-direction: column;
				gap: 0.2rem !important;
				justify-content: center;
				align-items: center;

				.image-box {
					background-color: #fff;
				}
				.items-desc {
					gap: 0.1rem;
					strong {
						font-size: 0.9rem;
					}
					small {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
	.p-block {
		padding-block: 2rem !important;
	}
	.popular-sect {
		padding-block: 3rem !important;
		gap: 3rem !important;

		.items-block {
			grid-template-columns: 1fr 1fr !important;
			gap: 0.4rem;
		}
		.popular-header {
			.bord-box {
				left: 1rem !important;
			}
			.bord-box-b {
				right: 1rem !important;
			}
		}
	}

	.social-sect {
		padding-block: 2rem !important;
		.soc-texts {
			.head-font {
				font-size: 3rem !important;
			}
			p {
				font-size: 1.4rem !important;
			}
		}

		.items-block {
			top: -2rem !important;
			height: 17rem !important;
			padding: 0.4rem !important;

			.items-box {
				width: 6rem !important;
				height: 6rem !important;
				background-color: #f0f0f08c;

				&:nth-child(1) {
					position: absolute;
					top: 1rem;
					left: 1rem;
				}

				&:nth-child(2) {
					position: absolute;
					top: 5rem !important;
					left: 5rem !important;
					width: 5rem !important;
					height: 5rem !important;
				}
				&:nth-child(3) {
					position: absolute;
					left: 35% !important;
					right: 40% !important;
					bottom: 0;
				}
				&:nth-child(4) {
					top: 5rem !important;
					right: 5rem !important;
					width: 5rem !important;
					height: 5rem !important;
					z-index: 2;
				}
				&:nth-child(5) {
					position: absolute;
					top: 1rem;
					right: 1rem;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		.bord-box {
			position: absolute;
			top: 0rem;
			left: 0rem;
			width: 1rem;
			height: 1rem;
			background-color: #ececec80;
			z-index: 1;

			&::before {
				width: 2rem !important;
				height: 2rem !important;
			}
		}
		.bord-box-b {
			width: 2rem !important;
			height: 2rem !important;

			&::before {
				right: 2rem !important;
				bottom: 2rem !important;
			}
		}
	}
	.landing-footer {
		padding-block: 6rem !important;
		padding-inline: 1rem !important;
		.footer-top {
			padding: 1rem !important;
			display: flex !important;
			gap: 1rem !important;
			flex-direction: column;
			grid-template-columns: 1fr !important;
			justify-content: center;
			align-items: center;

			.mid {
				display: flex !important;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				div {
					width: 100%;
				}
			}
		}

		.footer-bottom {
			padding: 1rem !important;
			flex-direction: column;
			gap: 1rem !important;

			.line {
				width: 100% !important;
			}
		}
	}

	.head-font {
		font-size: 3rem !important;
	}
}

@include medium-screen {
	.landing-header {
		// .side-col.left {
		// 	display: none !important;
		// }
		.mobile-nav {
			display: flex !important;
			justify-content: center;
			align-items: center;

			width: 3rem;
			border-radius: 6px;
			padding: 0.1rem;
			font-size: 1.6rem;
			box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
				rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

			&:hover {
				color: #29abe2;
			}
			&:active {
				scale: 0.98;
			}
		}
		.header-logo {
			transform: translateY(4px) !important;

			gap: 0 !important;
			strong {
				font-size: 3rem !important;
			}
			small {
				font-size: 1rem;
			}
		}
		// .side-col.right {
		// 	display: none !important;
		// }

		.side-col.left {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			height: 100vh;
			max-height: 100vh;
			left: 0;
			top: 70px;
			width: 0;
			background-color: #fff;
			z-index: 20;
			font-size: 1.2rem;
			box-shadow: rgba(60, 64, 67, 0.3) 2px 1px 2px 0px,
				rgba(60, 64, 67, 0.15) 2px 2px 3px 1px !important;
			opacity: 0;
			transition: opacity 300ms 200ms ease, all 500ms 400ms ease;

			li {
				opacity: 0;
				transform: translateX(-10rem);
				transition: opacity 500ms 200ms ease, all 500ms ease;

				&:nth-child(2) {
					transition-delay: 100ms;
				}
				&:nth-child(3) {
					transition-delay: 200ms;
				}
				&:nth-child(4) {
					transition-delay: 300ms;
				}
				&:nth-child(5) {
					transition-delay: 400ms;
				}
				&:nth-child(6) {
					transition-delay: 500ms;
				}
			}

			&.active {
				height: 100vh;
				max-height: 100vh;
				opacity: 1;
				width: 22rem;
				transition: opacity 500ms 400ms ease;
				transition: all 300ms ease;
				li {
					opacity: 1;
					transform: translateX(0);
					transition: opacity 500ms 400ms ease;
					transition: all 500ms ease;
					// &:nth-child(2) {
					// 	transition-delay: 100ms;
					// }
					// &:nth-child(3) {
					// 	transition-delay: 200ms;
					// }
					// &:nth-child(4) {
					// 	transition-delay: 300ms;
					// }
					// &:nth-child(5) {
					// 	transition-delay: 400ms;
					// }
					// &:nth-child(6) {
					// 	transition-delay: 500ms;
					// }
				}

				// .show {
				// 	// display: block !important;
				// }
			}

			.btn {
				outline: 1px solid black;
				padding: 1rem 2rem;
				color: #000;

				&:hover {
					background-color: #000 !important;
					color: #fff !important;
				}
			}
		}
	}
	.landing-banner {
		margin-top: 3.6rem !important;
		.left-body {
			padding: 2rem !important;
			position: relative;
			.btn-box {
				position: relative;
				left: 4rem;

				a {
					width: 10rem;
					height: 3.4rem;
					span {
						position: absolute;
						left: 1.6rem;
					}
					.icon {
						position: relative;
						left: 2.4rem;
					}
				}
				// bottom: ;
			}
		}
	}
	.testimonial-sect {
		padding: 5rem 2rem !important;

		.img-box {
			min-width: 150px !important;
			max-width: 300px !important;
			height: 100% !important;
			max-height: 280px !important;
			// background-color: red;
			object-fit: cover;
			object-position: left 20% center;
			overflow: hidden;
			transition: all 300ms ease;
			&:hover {
				box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
					rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			}
			img {
				width: 100%;
				// height: 100%;
				// display: none;
				object-fit: cover;
			}
		}

		.test-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 3rem;

			h2 {
				font-size: 1.4rem;
				font-family: "Viaoda Libre", cursive;
			}

			.test-name {
				display: flex;
				gap: 1rem;
				h2 {
					font-size: 2rem;
				}
			}

			.test-p {
				font-weight: 600;
			}
		}
	}

	.popular-sect {
		padding-block: 3rem !important;
		gap: 3rem !important;

		.items-block {
			grid-template-columns: 1fr 1fr 1fr !important;
			gap: 0.6rem !important;
		}
	}
	.social-sect {
		.items-block {
			top: -2rem !important;
			height: 20rem !important;
			padding: 0.4rem !important;

			.items-box {
				width: 7rem !important;
				height: 7rem !important;
				background-color: #f0f0f08c;

				&:nth-child(1) {
					position: absolute;
					top: 1rem;
					left: 1rem;
				}

				&:nth-child(2) {
					position: absolute;
					top: 6rem !important;
					left: 6rem !important;
					width: 6rem !important;
					height: 6rem !important;
				}
				&:nth-child(3) {
					position: absolute;
					left: 42% !important;
					right: 40% !important;
					bottom: 0;
				}
				&:nth-child(4) {
					top: 6rem !important;
					right: 6rem !important;
					width: 6rem !important;
					height: 6rem !important;
					z-index: 2;
				}
				&:nth-child(5) {
					position: absolute;
					top: 1rem;
					right: 1rem;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		.bord-box {
			position: absolute;
			top: 0rem;
			left: 0rem;
			width: 1rem;
			height: 1rem;
			background-color: #ececec80;
			z-index: 1;

			&::before {
				width: 2rem !important;
				height: 2rem !important;
			}
		}
		.bord-box-b {
			width: 2rem !important;
			height: 2rem !important;

			&::before {
				right: 2rem !important;
				bottom: 2rem !important;
			}
		}
	}
}
